body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #F2CA7E;
}
h1 {
    font-family: "Arbutus", sans-serif;
    margin-top: 35px;
    color: #898c27;
}

code {
    color: #222326;
}

.lead {
    color: #222326;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
}

.container-fluid {
    width: 75%;
}

.player-bar {
    display: flex;
    width: 600px;
    justify-content: space-around;
    font-family: "Arbutus", sans-serif;
}

.player-bar span {
    color:#898c27;
}

.instructions {
    margin-top: 35px;
    font-size: 18px;
    text-align: center;
}

#reset {
    display: none;
    background-color: #898c27;
    color: white;
    margin-top: 25px;
}

