body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #F2CA7E;
}
h1 {
    font-family: "Arbutus", sans-serif;
    margin-top: 35px;
    color: #898c27;
}

.lead {
    color: #222326;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
}

.container-fluid {
    width: 95%;
}

#gradie-window {
    background-color: #222326;
    width: 75vw;
    height: 70vh;
}